
body
{
    font-family: sans-serif;
    
}

a
{
  text-decoration: none;
  color: green;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.main-header
{
  background-color: #ddeecc;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  height: 90px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.mainlogo
{
  width: 300px;
  float: left;
}

.headerright
{
  float:right;
  height: 90px;
  vertical-align: bottom;

}

.frmsignin
{
  float: right;
}

.signin
{
  border-width: 3px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 0px;
  vertical-align: bottom;
  
}

.register
{
  float:right;
  margin-right: 12px;
  margin-top: 0px;
  font-size: 14px;
}

.signintext
{
  font-size: 11px;
  
}

.signininput
{
   border-width: 1px;
   border-color: black;
   border-style: solid;
   margin: 5px;
   background-color: #eeffee;
   width: 100px;
}

.signinbutton
{
  background-color: green;
  color: white;
  height: 20px;
  width: 80px;
  margin-top: 10px;
  font-size: 11px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;  
  border-width: 1px;
  border-color: black;
}

.signinb
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.catchprase
{
  font-style: italic;
  font-family:"Times New Roman";
  font-size: 20px;
  vertical-align: middle;
  width: 500px;
  text-align: center;
  
}

.main-body
{
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footerbody
{
  color: green;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.footerlink
{
  text-decoration: none;
  color: green;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

