.mainpage
{
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.getnote
{
  padding-top: 70px;
  height: 300px;
}

.regvalues
{
  font-size: 20px;
  height: 25px;
  left: 0;
  line-height: 24px;
  padding:5px 5px 5px;
  top:0;
  width:480px;
  margin-top: 10px;
  border-style: solid;  
  border-width: 1px;
  border-color: black;  
}

.regshort
{
  font-size: 20px;
  height: 25px;
  left: 0;
  line-height: 24px;
  padding:5px 5px 5px;
  top:0;
  width: 220px;
  margin-top: 10px;
  margin-right: 5px;
  border-style: solid;  
  border-width: 1px;
  border-color: black;  
}

.regbutton
{
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  color: white;
  height: 50px;
  width: 300px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;  
  border-width: 1px;
  border-color: black;  
  
}
